<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">nomo</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <!-- Display the user name if logged in -->
        <li id="displayName" class="btn disabled dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.greeting %>  <img src="<%= current_user.photo%>" class="fb-img dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"/></li>
         
        <li><%= link_to "Log Out", logout_path %></li>
         
       
      <%else%>
        <li><%= link_to "Log In", login_path %></li><li><%= link_to "Sign Up", signup_path %></li>
      <%end%>
      </ul>
    </div>
  </div>
</nav>

