<!-- SIGN IN FORM -->

<div class="row">
  <div class="col-md-12">
    <div class="wrap">
      <p class="form-title">Sign In</p>
      <%= form_for @user, url: sessions_path, class: "login" do |f| %>
      <div id="user_form">
        <div id="fbSignup"><%= link_to "Sign in with Facebook", "/auth/facebook", class: "fbLogin"%></div><br>
        <p class="or">OR Log in with Nomo:</p>
        <%= f.label :email %>:<br>
        <%=f.text_field :email, placeholder: "email", class: "signInput" %><br>
        <%= f.label :password %>:<br>
        <%=f.password_field :password, placeholder: "password", class: "signInput"%><br><br>
        <%= f.submit "log in", class: "btn btn-success btn-sm"%><br>
        <div class="remember-forgot">
          <div class="row">
            <div class="checkbox">
              <label class="rememberMe"><input type="checkbox">Remember Me</input></label>
            </div>
          </div>
          <div class="forgot-pass-content">
            <a href="javascription:void(0)" class="forgot-pass">Forgot Password</a>
          </div>
        </div>
        </div>
      <%end%>
    </div>
  </div>
</div>  
