<!-- MAIN PAGE -->

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
  <!-- Search bar searches for bands or redirects to login page if not logged in -->
    <% if current_user %> 
      <%= form_for @band, url: { controller: "user_bands", action: "create" }, class: "new-band" do |f| %>
        <%= f.label :name, :style => "display: none;"%>
        <%= f.autocomplete_field :name, autocomplete_name_bands_path, class: "band-name btn btn-lg btn-block", placeholder: "Enter an artist's name..." %>
        <%= f.submit "add artist", :style => "display: none;" %>
      <% end %><br><br>
    <div id="unfound-artist-alert" class="hidden-alert"><a href="bands/new" >Don't know them, click here to add them!</a></div>
    <% else %>
      <%= form_for @band, method: "GET", url: { controller: "sessions", action: "new" },  :html => {:class => "fake_band"} do |f| %>
        <%= f.label :name, :style => "display: none;"%>
        <%= f.autocomplete_field :name, autocomplete_name_bands_path, class: "band-name btn btn-lg btn-block", placeholder: "Enter an artist's name..." %>
        <%= f.submit "add artist", :style => "display: none;" %>
      <% end %><br><br>
    <% end %>
    <p class="hidden-alert" id="duplication-alert">This artist has already been added.</p>
  </div>
</div>
<div class="row">
  <div id="lists">
    <div id="bandsList" class="col-md-5">
      <ul class="band-list">
      <!-- list out all the bands -->
        <%= render current_user.bands if current_user %>
      </ul>
    </div>
    <div id="showsList" class="col-md-7">
      <ul class="event-list">
      <!-- clicking on a band reveals it's even -->
        <%= render @events if current_user %>
      </ul>
    </div>
  </div>
</div>



