<!-- SIGNUP PAGE -->

<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
		<div class="error_messages">
			<h2>
				<%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved!
			</h2>
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div id="user_form">
		<div id="fbSignup"><%= link_to "Sign up with Facebook", "/auth/facebook", {class: "fbSignup"}%></div><br>
		<p class="or">OR Create an account:</p>
    <%= f.label :name%>:<br>
    <%= f.text_field :name,class: "signInput" %><br>
    <%= f.label :email %>:<br>
    <%= f.text_field :email,class: "signInput" %><br>
    <%= f.label :password %>:<br>
    <%= f.password_field :password,class: "signInput" %><br>
    <%= f.label :password_confirmation %>:<br>
    <%= f.password_field :password_confirmation,class: "signInput" %><br><br>
	 <div class="actions">
	  <%= f.submit "Sign Up", class: "signUpSubmit" %>
	 </div>
	</div>
<% end %><br><br>


