<%= form_for @band, class: "new-band", remote: true do |f| %>
<%= f.label :name%>
<%= f.text_field :name, class: "band-name"%>
<%= f.submit "add artist" %>
<%end%><br><br>
<% if current_user %>
	<section>
		<ul class="band-list">
			<%= render current_user.bands %>
		</ul>
	</section>
<%end%>




