<!DOCTYPE html>
<html>
<head>
  <title>Whereismyband</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |name, msg| %>
   <%= content_tag :div, msg, :id => "flash#{name}" %>
 <% end %>

 <nav class="list-inline">
    <li><%= login_or_logout %></li>
  </nav>

<%= yield %>

</body>
</html>
