	<!DOCTYPE html>
<html>
<head>
  <title>Whereismyband</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared_partial/navbar" %>

<div class="container">
	<%= yield %>
  <div class="container">
<footer class="footer col-sm-offset-2">

  <ul>
      <li>Made with ♥ by</li><li><a href="http://sophiedebenedetto.nyc/" id="credits">Sophie DeBenedetto</a> & Cyrus Ghazanfar & <a href="https://andrewmiksch.wordpress.com/">Andrew Miksch</a></li> |
      <li><a href="https://github.com/superandrew123/whereismyband">Source code</a></li> | 
      <li><a href="mailto:nomoremissingout@gmail.com">Feedback</a></li>
  </ul>
  </footer>
</div>
</div>
</body>
</html>
